<h1>出欠一覧</h1>

<table border="1" class="table table-bordered table-hover"><!--class="table table-striped" これ入れると表がストライプなる-->
    <thead class="table-light"> <!--いるらしい-->
        <tr>
            <td colspan="2">
                <%= collection_select :classroom, :classroom_id, @classrooms, :id, :name, {selected: @classroom_id}, {class: "form-control"} %>
            </td>
           
            <td><%= @from_date %></td>
            <td><%= @from_date + 1 %></td>
            <td><%= link_to "＜", attendance_list_show_path(@classroom_id, base_date: @base_date - 1), class: "btn" %></td>
            <td colspan="2" class="text-center"><%= @base_date %></td>
            <td><%= link_to "＞", attendance_list_show_path(@classroom_id, base_date: @base_date + 1), class: "btn" %></td> <!-- class="text-center"右寄せ検討-->
            <td><%= @to_date - 1 %></td>
            <td><%= @to_date %></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4"class="text-center">
                <%= link_to "確認", print_show_path(@base_date, @classroom_id), class: "btn btn-outline-secondary" %>
            </td> <!--class="text-center"-->
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>出席状況</td>
            <td>理由</td>
            <td>期間</td>
            <td>コメント</td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        <% @students.each do |s| %>
            <tr>
                <td><%= s.number %></td>
                <td><%= link_to s.name, attendance_list_edit_path(@base_date, s.id), remote: true %></td>

                <% (@from_date..@to_date).each do |date| %>
                    <% attendance = ( @attendances.detect { |a| a.student_id == s.id && a.date == date } || Attendance.new ) %>
                    <td><%= attendance.situation.name if attendance.situation.present? %></td>

                    <% if date == @base_date %>
                        <td><%= attendance.reason %></td>
                        <td><%= attendance.period %></td>
                        <td><%= attendance.comment %></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<div id="modal-form" class="modal fade"></div>

<% content_for :inline_js do %>
<script type="text/javascript">
<!--
    // 学年・クラスのプルダウンを変更した際に画面遷移する
    $("#classroom_classroom_id").change(function() {
        window.location.href = "/attendance_list/" + $(this).val();
    });
// -->
</script>
<% end %>