<h1>AttendanceList#show</h1>
<p>Find me in app/views/attendance_list/show.html.erb</p>

クラスID：<%= @classroom_id %>
<br/>
日付：<%= @today %>
<br/>

<table border="1" class="table table-striped"><!--class="table table-striped" これ入れると表がストライプなる-->
    <thead> <!--いるらしい-->
        <tr>
            <td colspan="2">
                <select name=”item”>
                    <option value=”item1”>３年１組</option> <!--classroomsテーブルのnameから引っ張ってくる-->
                    <option value=”item2”>３年２組</option>
                    <option value=”item3”>３年３組</option>
                    <option value=”item4”>３年４組</option>
                </select>
           </td>
            <td>１月１日</td>
            <td>１月２日</td>
            <td><button type="button">＜</button></td>
            <td colspan="2" class="text-center">１月３日</td>
            <td><button type="button">＞</button></td> <!-- class="text-center"右寄せ検討-->
          <td>１月４日</td>
            <td>１月７日</td>
        </tr>
    </thead>

    <tbody> <!--いるらしい-->
        <tr>
            <td>　</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4" rowspan="3" class="text-center"><button onclick="location.href='https:/digitor.jp/textbook/html-button/'">確認</button></td> <!--class="text-center"-->
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>　</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>　</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>出席状況</td>
            <td>理由</td>
            <td>期間</td>
            <td>コメント</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>１</td>
            <td><%= link_to 'あごたく', "http://hogehoge", :onclick=>"window.open(this.href,'hoge', 'height=400, width=800');return false;" %></td>
            <td>1/1出欠</td>
            <td>1/2出欠</td>
            <td>1/3出欠</td>
            <td>1/3理由</td>
            <td>1/3期間</td>
            <td>1/3コメント</td>
            <td>1/4出欠</td>
            <td>1/7出欠</td>
        </tr>
        <tr>
            <td>２</td>
            <td><%= link_to "あさぶ", "https://digitor.jp/textbook/html-button/" %></td>
            <td>1/1出欠</td>
            <td>1/2出欠</td>
            <td>1/3出欠</td>
            <td>1/3理由</td>
            <td>1/3期間</td>
            <td>1/3コメント</td>
            <td>1/4出欠</td>
            <td>1/7出欠</td>
        </tr>
        <tr>
            <td>３</td>
            <td><%= link_to "いとが", "https://digitor.jp/textbook/html-button/" %></td>
            <td>1/1出欠</td>
            <td>1/2出欠</td>
            <td>1/3出欠</td>
            <td>1/3理由</td>
            <td>1/3期間</td>
            <td>1/3コメント</td>
            <td>1/4出欠</td>
            <td>1/7出欠</td>
        </tr>
    </tbody>
</table>
<button type="button">印刷確認</button>
