<h1>AttendanceList#show</h1>
<p>Find me in app/views/attendance_list/show.html.erb</p>

クラスID：<%= @classroom_id %>
<br/>
日付：<%= @base_date %>
<br/>

<table border="1" class="table table-striped"><!--class="table table-striped" これ入れると表がストライプなる-->
    <thead> <!--いるらしい-->
        <tr>
            <td colspan="2">
              <%= form_with model: @classroom do |f| %>
                <%= f.collection_select :classroom_id, @classrooms, :id, :name, selected: @classroom_id %><!--seledctd以降はURLのどこのクラスかを受け取る-->
                <%#= f.submit '送信'%> <!--放置-->
              <% end %>
           </td>
           
            <td><%= @from_date %></td>
            <td><%= @from_date + 1 %></td>
            <td><%= link_to "＜", attendance_list_show_path(@classroom_id, base_date: @base_date - 1), class: "btn" %></td>
            <td colspan="2" class="text-center"><%= @base_date %></td>
            <td><%= link_to "＞", attendance_list_show_path(@classroom_id, base_date: @base_date + 1), class: "btn" %></td> <!-- class="text-center"右寄せ検討-->
            <td><%= @to_date - 1 %></td>
            <td><%= @to_date %></td>
        </tr>
    </thead>

    <tbody> <!--いるらしい-->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4"class="text-center"><button onclick="location.href='#'">確認</button></td> <!--class="text-center"-->
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>出席状況</td>
            <td>理由</td>
            <td>期間</td>
            <td>コメント</td>
            <td></td>
            <td></td>
        </tr>

        <% @students.each do |s| %>
            <tr>
                <td><button onclick="location.href='#'"><%= s.number %></button></td>
                <td><%= s.name %></td>

                <% (@from_date..@to_date).each do |date| %>
                    <% attendance = ( @attendances.detect { |a| a.student_id == s.id && a.date == date } || Attendance.new ) %>
                    <td><%= attendance.situation.name if attendance.situation.present? %></td>

                    <% if date == @base_date %>
                        <td><%= attendance.reason %></td>
                        <td><%= attendance.period_start %> ～ <%= attendance.period_end %></td>
                        <td><%= attendance.comment %></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<button type="button">印刷確認</button>