<h1 class="zengakunen">全学年出欠</h1>
<%= @base_date %>
<table border="2" class="table table-bordered">
    <thead class="table-light">
        <tr>
            <td class="table-light3" colspan="2">&nbsp;</td>
            <td class="table-light3" colspan="2"><font size="4">１組</font></td>
            <td class="table-light3" colspan="2"><font size="4">２組</font></td>
            <td class="table-light3" colspan="2"><font size="4">３組</font></td>
            <td class="table-light3" colspan="2"><font size="4">４組</font></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
            <td class="table-light21">名前・症状</td>
            <td class="table-light22">期間</td>
            <td class="table-light21">名前・症状</td>
            <td class="table-light22">期間</td>
            <td class="table-light21">名前・症状</td>
            <td class="table-light22">期間</td>
            <td class="table-light21">名前・症状</td>
            <td class="table-light22">期間</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% current_row = 0 %>
        <% @classroom.keys.each do |grade| %>
            <% Situation.target_list.each do |s| %>
                <% @attendance_hash[grade][s.id].each do |row| %>
                    <tr <%= "class=table-active" if s.fumei? %> >
                        <% if @grade_header_row.include?(current_row) %>
                            <td rowspan="<%= @attendance_count_hash[grade][:count_sammary] %>" class="table-light"><center><font class="all-grade" size="4"><%= "#{grade}年" %></font></center></td>
                        <% end %>
                        <% if @situation_header_row.include?(current_row) %>
                            <td rowspan="<%= @attendance_count_hash[grade][s.id] %>" class="table-light4"><%= s.name %></td>
                        <% end %>
                        <% @classroom[grade].group_by(&:number).keys.each do |class_number| %>
                            <td><%= row[class_number].student_name_and_reazon %></td>
                            <td><%= row[class_number].period %></td>
                        <% end %>
                    </tr>
                    <% current_row += 1 %>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>
<div class="botan">
    <%= link_to "戻る", attendance_list_show_path(@current_classroom_id, base_date: @base_date), class: "btn btn-outline-secondary btn-lg" %>
    <%= link_to "印刷", nil, onclick: "window.print()", class: "btn btn-outline-secondary btn-lg"  %>
    <%= link_to "ログアウト", login_show_path(@current_classroom_id, base_date: @base_date), class: "btn btn-outline-secondary btn-lg" %>
</div>