<h1>全学年出欠</h1>

<table border="1" class="table table-bordered">
    <thead class="table-light">
        <tr>
            <td colspan="2">&nbsp;</td>
            <td colspan="2">１組</td>
            <td colspan="2">２組</td>
            <td colspan="2">３組</td>
            <td colspan="2">４組</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
            <td>名前・症状</td>
            <td>期間</td>
            <td>名前・症状</td>
            <td>期間</td>
            <td>名前・症状</td>
            <td>期間</td>
            <td>名前・症状</td>
            <td>期間</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% current_row = 0 %>
        <% @classroom.keys.each do |grade| %>
            <% Situation::TARGET_LIST.each do |s| %>
                <% @attendance_hash[grade][s.id].each do |row| %>
                    <tr>
                        <% if @grade_header_row.include?(current_row) %>
                            <td rowspan="<%= @attendance_count_hash[grade][:count_sammary] %>" class="table-light"><%= "#{grade}年" %></td>
                        <% end %>
                        <% if @situation_header_row.include?(current_row) %>
                            <td rowspan="<%= @attendance_count_hash[grade][s.id] %>" class="table-light"><%= s.name %></td>
                        <% end %>
                        
                        <% @classroom[grade].group_by(&:number).keys.each do |class_number| %>
                            <td><%= row[class_number].student_name_and_reazon %></td>
                            <td><%= row[class_number].period %></td>
                        <% end %>
                    </tr>
                    <% current_row += 1 %>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>

<%= link_to "戻る", attendance_list_show_path(@current_classroom_id, base_date: @base_date), class: "btn btn-outline-secondary" %>
<%= link_to "印刷", nil, onclick: "window.print()", class: "btn btn-outline-secondary" %>
